# Question 1

### Install Spark and PySpark

#### Install Spark
#### Run PySpark
#### Create a local spark session
#### Execute spark.version.
<!-- #### What’s the output?

3.3.2
2.1.4
1.2.3
5.4
 -->

In [9]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

pyspark.__version__

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/09 19:49:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/09 19:49:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

'3.3.2'

# Question 2
###### HVFHW June 2021

###### Read it with Spark using the same schema as we did in the lessons.
###### We will use this dataset for all the remaining questions.

###### Repartition it to 12 partitions and save it to parquet.

###### What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)?

###### Select the answer which most closely matches.

###### 2 MB
###### 24 MB
###### 100 MB
###### 250 MB

In [2]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-09 19:28:06--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230309%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230309T172806Z&X-Amz-Expires=300&X-Amz-Signature=a279ac5c421ccfb4108608625f33a27c282faa6d55e7c1afbfaaf865ca6040cf&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-09 19:28:07--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230309%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230309T172806Z&X-Amz-Expires=300&X-Amz-Signature=a279ac5c421ccfb4108608625f33a27c282faa6d55e7c1afbfaaf865ca6040cf&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: 'fhvhv_tripdata_2021-06.csv.gz'

fhvhv_tripdata_2021 100%[===================>] 167.66M  9.90MB/s    in 21s

2023-03-09 19:28:28 (8.16 MB/s) - 'fhvhv_tripdata_2021-06.csv.gz' saved [175799316/175799316]

In [7]:
%%sh
gzip -d fhvhv_tripdata_2021-06.csv
ls -lh fhvhv_tripdata_2021-06.csv

-rw-r--r--  1 jafa  staff   878M Dec 20 02:13 fhvhv_tripdata_2021-06.csv

gzip: fhvhv_tripdata_2021-06.csv: unknown suffix -- ignored

In [12]:
from pyspark.sql import types
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True),
])

In [14]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv')
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [15]:
!head -n 11 fhvhv_tripdata_2021-06.csv > head.csv

In [16]:
!cat head.csv

dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
B02510,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,N,
B02510,2021-06-01 00:18:15,2021-06-01 00:25:47,49,17,N,
B02510,2021-06-01 00:33:06,2021-06-01 00:42:46,49,225,N,
B02510,2021-06-01 00:46:27,2021-06-01 00:56:50,225,177,N,
B02764,2021-06-01 00:48:06,2021-06-01 01:04:10,209,45,N,B02764
B02875,2021-06-01 00:18:54,2021-06-01 00:26:14,80,256,N,B02875

In [17]:
df = df.repartition(12)

In [18]:
df.write.parquet('data/pq/fhvhv/2021/06/')

In [19]:
!ls -lh data/pq/fhvhv/2021/06/

total 566784
-rw-r--r--  1 jafa  staff     0B Mar  9 19:52 _SUCCESS
-rw-r--r--  1 jafa  staff    23M Mar  9 19:52 part-00000-20148f5e-0884-468f-a234-e2ea82b19eb2-c000.snappy.parquet
-rw-r--r--  1 jafa  staff    23M Mar  9 19:52 part-00001-20148f5e-0884-468f-a234-e2ea82b19eb2-c000.snappy.parquet
-rw-r--r--  1 jafa  staff    23M Mar  9 19:52 part-00002-20148f5e-0884-468f-a234-e2ea82b19eb2-c000.snappy.parquet
-rw-r--r--  1 jafa  staff    23M Mar  9 19:52 part-00003-20148f5e-0884-468f-a234-e2ea82b19eb2-c000.snappy.parquet
-rw-r--r--  1 jafa  staff    23M Mar  9 19:52 part-00004-20148f5e-0884-468f-a234-e2ea82b19eb2-c000.snappy.parquet
-rw-r--r--  1 jafa  staff    23M Mar  9 19:52 part-00005-20148f5e-0884-468f-a234-e2ea82b19eb2-c000.snappy.parquet
-rw-r--r--  1 jafa  staff    23M Mar  9 19:52 part-00006-20148f5e-0884-468f-a234-e2ea82b19eb2-c000.snappy.parquet
-rw-r--r--  1 jafa  staff    23M Mar  9 19:52 part-00007-20148f5e-0884-468f-a234-e2ea82b19eb2-c000.snappy.parquet
-rw-r--r--  1 jafa  staff    23M Mar  9 19:52 part-00008-20148f5e-0884-468f-a234-e2ea82b19eb2-c000.snappy.parquet
-rw-r--r--  1 jafa  staff    23M Mar  9 19:52 part-00009-20148f5e-0884-468f-a234-e2ea82b19eb2-c000.snappy.parquet
-rw-r--r--  1 jafa  staff    23M Mar  9 19:52 part-00010-20148f5e-0884-468f-a234-e2ea82b19eb2-c000.snappy.parquet
-rw-r--r--  1 jafa  staff    23M Mar  9 19:52 part-00011-20148f5e-0884-468f-a234-e2ea82b19eb2-c000.snappy.parquet

# Question 3
###### Count records

###### How many taxi trips were there on June 15?
###### Consider only trips that started on June 15.

###### 308,164
###### 12,856
###### 452,470
###### 50,982

In [ ]:
df = spark.read.parquet('data/pq/fhvhv/2021/06/')

In [20]:
from pyspark.sql import functions as F

In [21]:
df.withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2021-06-15'") \
    .count()

452470

In [22]:
df.createOrReplaceTempView('fhvhv_2021_06')
spark.sql("""
SELECT
    COUNT(1)
FROM
    fhvhv_2021_06
WHERE
    to_date(pickup_datetime) = '2021-06-15';
""").show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

# Question 4
###### Longest trip for each day

###### Now calculate the duration for each trip.
###### How long was the longest trip in Hours?

66.87 Hours
243.44 Hours
7.68 Hours
3.32 Hours

In [23]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [24]:
df.withColumn('duration', (df.dropoff_datetime.cast('long') - df.pickup_datetime.cast('long'))/60/60) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(5) \
    .show()

+-----------+------------------+
|pickup_date|     max(duration)|
+-----------+------------------+
| 2021-06-25| 66.87888888888888|
| 2021-06-22|25.549722222222222|
| 2021-06-27|19.980833333333333|
| 2021-06-26| 18.19722222222222|
| 2021-06-23|16.466944444444444|
+-----------+------------------+

In [25]:
spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    MAX((CAST(dropoff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 60 / 60) AS duration
FROM
    fhvhv_2021_06
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 10;
""").show()

+-----------+------------------+
|pickup_date|          duration|
+-----------+------------------+
| 2021-06-25| 66.87888888888888|
| 2021-06-22|25.549722222222222|
| 2021-06-27|19.980833333333333|
| 2021-06-26| 18.19722222222222|
| 2021-06-23|16.466944444444444|
| 2021-06-24|13.909722222222223|
| 2021-06-04|             11.67|
| 2021-06-20|10.984444444444446|
| 2021-06-01|           10.2675|
| 2021-06-28|  9.96638888888889|
+-----------+------------------+

# Question 5
## User Interface

### Spark’s User Interface which shows application’s dashboard runs on which local port?

In [26]:
# binds to ports 4040 and if multiple SparkConetxts are running on the same host, they bind to sucessive ports begining from 4040 up wards

# Question 6
## Most frequent pickup location zone

### Load the zone lookup data into a temp view in Spark
### Zone Data.

#### Using the zone lookup data and the fhvhv June 2021 data, what is the name of the most frequent pickup location zone?

###### East Chelsea, Astoria, Union Sq, Crown Heights North

In [31]:
df_zones = spark.read.parquet('zones')
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [32]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [33]:
df_zones.createOrReplaceTempView("zones")

In [ ]:
spark.sql("""
SELECT zones.Zone, COUNT(1)
FROM
    fhvhv_2021_06 fhv
    LEFT JOIN zones ON fhv.PULocationID = zones.LocationID
GROUP BY 1
ORDER BY 2 DESC
LIMIT 5;
""").show()