In [34]:
import pandas as pd
# import fastparquet OR
import pyarrow.parquet as pq

In [74]:
#!wget from nyc taxi data the data you want in parquet form
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-01.parquet

--2023-01-28 11:02:21--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 13.33.50.231, 13.33.50.203, 13.33.50.227, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|13.33.50.231|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11071980 (11M) [binary/octet-stream]
Saving to: ‘green_tripdata_2019-01.parquet’

green_tripdata_2019 100%[===================>]  10.56M  6.83MB/s    in 1.5s

2023-01-28 11:02:23 (6.83 MB/s) - ‘green_tripdata_2019-01.parquet’ saved [11071980/11071980]

## Read the Parquet file in Python

In [75]:
parquet_file = 'green_tripdata_2019-01.parquet'
df = pd.read_parquet(parquet_file)

## Inspect the data

In [76]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1.0,264,264,5.0,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1.0,97,49,2.0,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1.0,49,189,2.0,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1.0,1.0,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1.0,189,17,2.0,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1.0,1.0,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1.0,82,258,1.0,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,NaN

In [77]:
parquet_table = pq.read_table(parquet_file)
df = parquet_table.to_pandas()
df.to_csv('green_tripdata_2019-01.csv')

###  Write parquet file to CSV without compression

In [78]:
# df= pd.read_csv('green_tripdata_2019-01.csv', nrows=100)

### Write with gzip compression

In [40]:
# csv_output_compressed = 'green_tripdata_2019-01.csv.gz'
# output = df.to_csv(csv_output_compressed, index=False, compression='gzip')

In [79]:
df= pd.read_csv('green_tripdata_2019-01.csv', nrows=100)

In [80]:
df.head()

,Unnamed: 0,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1.0,264,264,5.0,0.00,...,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,NaN
1,1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1.0,97,49,2.0,0.86,...,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,NaN
2,2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1.0,49,189,2.0,0.66,...,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1.0,1.0,NaN
3,3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1.0,189,17,2.0,2.68,...,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1.0,1.0,NaN
4,4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1.0,82,258,1.0,4.53,...,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,NaN

In [81]:
print(pd .io.sql.get_schema(df,name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"Unnamed: 0" INTEGER,
  "VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [82]:
pd.to_datetime(df.lpep_pickup_datetime)

0    2018-12-21 15:17:29
1    2019-01-01 00:10:16
2    2019-01-01 00:27:11
3    2019-01-01 00:46:20
4    2019-01-01 00:19:06
             ...
95   2019-01-01 00:15:42
96   2019-01-01 00:21:28
97   2019-01-01 00:17:10
98   2019-01-01 00:25:01
99   2019-01-01 00:36:56
Name: lpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [83]:
df.tpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

/var/folders/kt/s8b94f056s9f7ljl6s_gz7th0000gn/T/ipykernel_59351/3869521473.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
/var/folders/kt/s8b94f056s9f7ljl6s_gz7th0000gn/T/ipykernel_59351/3869521473.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [84]:
print(pd .io.sql.get_schema(df,name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"Unnamed: 0" INTEGER,
  "VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [85]:
 from sqlalchemy import create_engine

In [86]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [87]:
engine.connect()

In [88]:
print(pd .io.sql.get_schema(df,name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

## Let's batch the csv file as its too large for loading to postgres

In [89]:
df_iter= pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [90]:
df_iter

In [91]:
df=next(df_iter)

In [92]:
len(df)

100000

### create table and insert data chunk as only the column labels

In [94]:
# df.lpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.lpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [95]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='replace')

# if a table with name exists 'replace'

1000

In [96]:
 %time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 6.36 s, sys: 253 ms, total: 6.61 s
Wall time: 18.5 s

1000

In [97]:
from time import time

In [98]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk..., took %0.3f second' %(t_end-t_start))

inserted another chunk..., took 19.622 second
inserted another chunk..., took 20.723 second
inserted another chunk..., took 27.815 second
inserted another chunk..., took 37.169 second
inserted another chunk..., took 40.687 second

/var/folders/kt/s8b94f056s9f7ljl6s_gz7th0000gn/T/ipykernel_59351/579806278.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 26.082 second

StopIteration:

In [26]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2023-01-28 10:46:41--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 13.33.50.231, 13.33.50.222, 13.33.50.203, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|13.33.50.231|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.009s

2023-01-28 10:46:41 (1.33 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [99]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [109]:
df = pd.read_csv('taxi+_zone_lookup.csv')
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [110]:
print(pd.io.sql.get_schema(df, name='green_taxi_zones'))

CREATE TABLE "green_taxi_zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [111]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265